:root {
    margin: 0;
    padding: 0;
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/